@charset "utf-8";
/* CSS Document */

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

a {
  color: orange;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

#maincontent {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}
#footer {
  background-color: #444;
  color: white;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map {
  height: 200px;
}

/* ====================== Navigation ====================== */
nav {
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;}

nav a {
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  padding: 30px 15px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/**
*Lazy loading
**/

img:not([src]):not([srcset]) {
  visibility: hidden;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  background-color: #01447e;
  flex-grow:1;
  flex-direction: column;
  align-items: center;

  h2 {
    color: white;
    margin: 10px 20px;
  }

  select {
    height: 35px;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
  }

  select:focus {
    box-shadow: 0 0 5px 5px rgba(255, 154, 22, 0.5);
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  li {
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 15px;
    padding: 25px 30px 25px;
    width: 270px;
    }

  a {
    background-color: #01447E;
    border-bottom: 3px solid orange;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-transform: uppercase;

    :focus {
      background-color: orange;
      border-bottom: 3px solid #01447E;
      color: #fff;
      display: inline-block;
      margin: 15px 0 0;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
    }

    h2 {
      color: #01447E;
      letter-spacing: 0;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }

  }

  .restaurant-img {
    max-width: 100%;
    max-height: 248px;
  }
}
