@media screen and (min-width: 451px) and (max-width:900px){

  .filter-options h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  .filter-options select {
    min-width: 350px;
    border: 1px solid black;
  }
}

@media screen and (min-width: 780px){
  #restaurants-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      min-height: 380px;
    }
  }
}